<nav class="col-12 clearfix">
    <ul class="navbar-nav mr-auto clearfix">
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/about/">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/franquicias/">Distribuidores Autorizados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/talleres/">Talleres y Diplomados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/">Contáctanos</a>
        </li>
    </ul>

    <div class="offset-1 col-10 form-group row clearfix">
        <form class="col-12 navbar-form search" role="search">
            <div class="input-group add-on">
                <input class="form-control" placeholder="Suscríbete a nuestra newsletter" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-srch" type="submit"><i class="fa fa-angle-right fa-5" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>

    <nav class="col-12 iconnav clearfix">
        <ul class="iconnav__ul clearfix">

            {% include svg-icons.html %}

        </ul>
    </nav>
    <div class="copyright-2017-asp clearfix">Copyright © 2017 ASPIDPRO S.A. de C.V. Todos los derechos reservados.</div>

</nav>

<!-- jQuery (version: 3.2.1) via googleapis or path to local copy ie. plugins/jquery/jquery.min.js -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Tether plugin, needed for tooltip plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- Bootstrap (version: v4.0.0-alpha.2) JS via MaxCDN or path to local copy ie. plugins/bootstrap/dist/js/bootstrap.min.js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<!-- FontAwesome -->
<script src="https://use.fontawesome.com/8ade01f30f.js"></script>

<!-- Custom scripts -->
<script src="{{ site.baseurl }}/js/scripts.js"></script>