<nav class="navbar navbar-light aspid-navbar">
    <div class="logo">
        <a href="{{ site.baseurl }}/" class="noline navbar-brand">
            <div class="aspidpro-logo-alt">
                <div class="aspidpro-logo-mark">
                </div>
                <div class="apsidpro-logo-text">
                    ASPID<span class="accent-semibold">PRO</span>
                </div>
            </div>
        </a>
    </div>
    <div class="menu-box">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-box__open" style="display: none;"><span>Menu</span><i class="fa fa-times" aria-hidden="true"></i></span>
            <span class="menu-box__hamb navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="navbar-collapse col-12 aspid-menu collapse" id="navbarMenu">
        <ul class="aspid-menu__list">
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/products/">Productos y Líneas</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/">Tips y Consejos</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/">Blog</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/">Contáctanos</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/about/">¿Quiénes Somos?</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/franquicias/">Distribuidores Autorizados</a>
            </li>
            <li class="aspid-menu__item">
                <a class="aspid-menu__item-link" href="{{ site.baseurl | replace: '//', '/' }}/talleres/">Talleres y Diplomados</a>
            </li>
        </ul>

        <nav class="iconnav">
            <ul class="iconnav__ul">

                {% include svg-icons.html %}

            </ul>
        </nav>
    </div>
</nav>
