/*********************/
/* LAYOUT / SECTIONS */
/*********************/

i.fa {
  font-size: 23px;
  //text-shadow: 3px 3px 2px rgba(50, 50, 50, .5);
  &:hover {
    //transform: translateX(5%) translateY(5%);
    //text-shadow: 1px 1px 4px rgba(50, 50, 50, .5);
  }
}

.loading-screen {
  background-color: $white;
  background-image: url($baseurl + "/images/logo.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
}

.iconnav {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  &__ul {
    padding: 0;
    justify-content: center;
    display: inline-flex;

  }
  &__soc-item {
    height: 28px;
    width: 28px;
    margin: 0 15px;
    list-style: none;
    display: flex;

    a {
      color: $footerText;
      &:hover {
        color: lighten($footerText, 20%);
      }
      &:active {
        color: darken($footerText, 20%);
      }
      i.fa {
        font-size: 23px;
        text-shadow: 5px 5px 5px rgba(50, 50, 50, .6);
        &:hover {
          transform: translateX(5%) translateY(5%);
          text-shadow: 2px 3px 7px rgba(50, 50, 50, .6);
        }
      }
    }
  }
}

.aspid-navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    cursor: pointer;
    display: flex;
    margin: 0;
    height: 66px;
    order: -1;
    padding: 14px 0px 14px 8px;
    width: calc(100vw - 180px);

    a {
      width: 180px;
    }
  }
  //.logo
  .menu-box {
    align-items: center;
    background: none;
    display: flex;
    font-family: $openSans;
    font-size: 20px;
    font-weight: 600;
    justify-content: flex-end;
    line-height: 27px;
    order: 5;
    height: 66px;
    width: 160px;

    button {
      border: none;
      display: flex;
      margin: 12px 0;

      &:hover {
        cursor: pointer;
      }
      &:active {
        border: none;
        outline: none;
      }
      &:focus {
        border: none;
        outline: 0;
      }
    }
    //button
    &__open {
      color: $baseBackground;
      display: none;
      justify-content: space-around;

      // text-shadow: 5px 5px 5px rgba(50, 50, 50, .6);
      &:hover {
        transform: translateX(3%) translateY(3%);
        // text-shadow: 2px 3px 7px rgba(50, 50, 50, .6);
      }
      &:nth-child(1) {
        display: flex;
        padding: .5em;
        text-transform: uppercase;
      }
      span {
        margin-right: 26px;
        vertical-align: sub;
      }
      .fa {
        vertical-align: super;
        position: relative;
        top: -.2rem;
        left: -.5rem;
        &:hover {
        }
      }
    }
    &__hamb {
      display: flex;
      margin-right: 4px;
      margin-top: 4px;
    }
  }
  //.menu-box
  .aspid-menu {
    align-items: flex-start;
    background: linear-gradient(180deg, #5086B9 0%, #416D96 100%);
    flex-direction: column;
    font-family: $openSans;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    line-height: 22px;
    order: 10;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    min-height: calc(100vh - 66px);

    .aspid-menu__list {
      @extend .navbar-nav;
      margin: 0 auto;
      order: -1;
      padding-bottom: 60px;
      padding-top: 2px;
      width: 87.5%;
    }
    .aspid-menu__item {
      box-shadow: inset 0 -0.5px 0 0 #416D96;
      height: 48px;
      list-style: none;
      padding-top: 21px;
    }
    .aspid-menu__item-link {
      color: $menuText;
      font-size: 14px;
      font-weight: 300;

      &:active {
        color: darken($menuText, 10%);
        font-weight: 400;
      }
      &:focus {
        text-decoration: none;
        font-weight: 400;
      }
      &:hover {
        color: lighten($menuText, 30%);
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
  //.aspid-menu
}

/* Header */
.header {
  min-height: 66px;
  height: auto;
  width: 100%;
  background-color: $baseBackground;
  box-shadow: inset 0 -1px 0 0 $baseShadow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar {
    margin: 0;
    min-height: 66px;
    padding: 0;
    width: 100%;
  }

  .aspidpro-logo-alt {
    height: 36px;
    width: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;

    .aspidpro-logo-mark {
      height: 34px;
      width: 36px;
      display: flex;
      background-image: url($baseurl + "/images/logo.svg");
      background-size: cover;
      background-position-x: right;
      background-position-y: bottom;
    }

    .apsidpro-logo-text {
      height: 34.79px;
      width: 127.19px;
      font-family: $openSans;
      font-size: 1.5em;
      color: $gray;
      display: flex;
      font-weight: 100;

      .accent-semibold {
        font-weight: 500;
      }
    }
  }
}

/* Footer */
footer {
  background-color: $footerBackground;
  display: flex;
  align-self: flex-end;

  nav {
    ul.navbar-nav {
      font-family: $openSans;
      font-weight: normal;
      padding-left: 10px;
      padding-right: 0;
      padding-bottom: 46px;

      li {
        height: 50px;
        padding: 16px 10px;
        font-size: 14px;
        border-bottom: 1px $navSeparator solid;
        line-height: 19px;

        a {
          color: $footerText;
          font-weight: normal;
          opacity: 0.87;

          &:hover {
            color: lighten($footerText, 20%);
          }
          &:active {
            color: darken($footerText, 20%);
          }
          &.active {
            font-weight: bold;
          }
        }
      }
    }

    .search {
      height: 38px;
      padding-bottom: 30px;

      input {
        font-family: $openSans;
        font-size: 12px;
        line-height: 17px;
        color: $footerBackground;
        border: 1px $white solid;
        box-sizing: border-box;
      }
      .btn-srch {
        border: 1px $white solid;
        border-radius: 0;
        font-size: 2rem;
        background-color: $footerBackground;
        padding: 0 .8rem;
        box-sizing: border-box;

        .fa {
          padding: 0;
          color: $white;
        }
        .fa-angle-right {
          padding: 0;
        }
      }
    }

  }
  .copyright-2017-asp {
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 20px;
    height: 11px;
    width: 269px;
    color: $white;
    font-family: $openSans;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
  }
}

/* END Footer */

/* General */
.aspid-caption {
  padding-top: 20px;
  padding-bottom: 10px;

  h1 {
    color: $gray;
    font-family: $openSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    height: 19px;
    text-align: center;
    text-transform: uppercase;
  }
}

/* Carousel */

.carosel {
  position: relative;
  background-color: #000;
}

.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}

.carosel-item {
  display: inline-block;
}

.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  display: inline-block;
}

.carosel-control-left {
  left: 15px;
}

.carosel-control-right {
  right: 15px;
}

.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: $small ) {
  .carousel-inner .carousel-item-right.active,
  .carousel-item-next {
    transform: translateX(50%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }
}

@media (min-width: $small) {
  .carousel-inner .carousel-item-right.active,
  .carousel-item-next {
    transform: translateX(33.33%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%);
  }
}

@media (min-width: $medium) {
  .carousel-inner .carousel-item-right.active,
  .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

.carousel-item.active.left {
  opacity: 1;
}

.carousel-item.active.right {
  opacity: 1;
}

.carousel-item.active.left > div:not(:first-child) {
  display: none;
}

.carousel-item.active.right > div:not(:first-child) {
  display: none;
}

.carousel-control {
  color: #333;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-control-next {
  opacity: 1;
  display: flex;
  justify-content: flex-end;

  .fa {
    top: -.03rem;
    left: -.03rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    color: #5086b9;
    height: 2rem;
    position: relative;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, .7);
    &:hover {
      top: 0;
      left: 0;
      text-shadow: 1px 1px 4px rgba(150, 150, 150, .7);
    }
  }
}
.carousel-control-prev {
  opacity: 1;
  display: flex;
  justify-content: flex-start;

  .fa {
    margin-left: 1rem;
    margin-bottom: 3rem;
    color: #5086b9;
    height: 2rem;
    position: relative;
    font-size: 2rem;
    top: -.03rem;
    left: -.03rem;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, .7);
    &:hover {
      top: 0;
      left: 0;
      text-shadow: 1px 1px 4px rgba(150, 150, 150, .7);
    }
  }
}
.carousel-indicators {
  margin-top: 1.5rem;

  li {
    -webkit-box-shadow: 3px 3px 3px rgba(150, 150, 150, .5);
    -moz-box-shadow: 3px 3px 3px rgba(150, 150, 150, .5);
    box-shadow: 3px 3px 3px rgba(150, 150, 150, .5);
    &:hover {
      top: .1rem;
       -webkit-box-shadow: 1px 1px 5px rgba(150, 150, 150, .5);
       -moz-box-shadow: 1px 1px 5px rgba(150, 150, 150, .5);
       box-shadow: 1px 1px 5px rgba(150, 150, 150, .5);
    }
  }
}
.carousel-item {
  padding: 0;
}
/* End Slider */

/* END */

.aspid-text {
  padding-left: 18px;
  padding-right: 12px;
  padding-bottom: 17px;

  p {
    color: $darkenGray;
    font-family: $openSans;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
}


/*product-item*/
.aspid-products {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 12px;
  flex-wrap: wrap;

  .aspid-product-item {
    flex-direction: column;
    margin: 0;
    padding: 0 2vw 0 2vw;
    width: 43vw;
    background-color: $white;

    &__link {
      color: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;

      &:active {
        color: $gray;
        text-decoration: none;
      }
      &:hover {
        color: $darkGray;
        text-decoration: none;
      }
    }
    &__image {
      align-items: center;
      display: flex;
      height: 180px;
      justify-content: center;
      order: -1;
      width: 100%;

      p {
        justify-content: center;

      }
    }
    &__info {
      color: $gray;
      display: flex;
      flex-direction: column;
      font-family: $openSans;
      font-size: 11px;
      font-weight: 300;
      order: 5;
      padding-right: 1vw;
    }
    &__caption {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__title {
      color: $darkGray;
      display: flex;
      font-size: 12px;
      font-weight: 600;
      order: -1;
    }
    &__volume {
      align-items: center;
      display: flex;
      order: 5;
    }
    &__description {
      display: flex;
    }
  }
}

.banner {
  margin: 5px;

  img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $small) {

  .aspid-double {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 4rem;
    margin-top: 2rem;

    .banner {
      align-self: flex-end;
      display: flex;
      margin: 0 0 0 0;
      width: 50vw;

      img {
        width: 50vw;
        height: auto;
      }
    }
  }

  .aspid-menu-divs {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 1vw 0 0;
  }

}
@media (max-width: ($small - 1rem)) {
  .aspid-double {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    margin-top: 1rem;

    .banner {
      align-self: flex-end;
      display: flex;
      margin: 0 0 0 0;
      width: 100%;

      img {
        width: 100vw;
        height: auto;
      }
    }
  }

  .aspid-menu-divs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .down-banner {
    margin-top: 3rem;
  }
}


/* END General */
/* Home */
.aspid-h1 {
  color: $gray;
  font-family: $openSans;
  font-size: 14px;
  font-weight: 600;
  margin-left: 6px;
  margin-top: 29px;
  margin-bottom: 5px;
  text-align: left;
  word-spacing: normal;
}

.aspid-menu-divs {

  .nav-borders {
    border-color: $lightGray;
    border-top-width: 2px;
    border-style: solid;
    margin: 5px;

    a {
      border-color: $lightGray;
      border-bottom-width: 1px;
      border-style: solid;
      color: $gray;
      display: flex;
      flex-direction: row;
      font-family: $openSans;
      font-size: 14px;
      font-weight: 600;
      justify-content: space-between;
      margin-left: 25px;
      margin-right: 5px;
      padding-top: 17px;
      padding-bottom: 16px;
      text-decoration: none;

      &:active {
        color: $darkerGray;
        text-decoration: none;
      }
      &:hover {
        color: $darkGray;
        text-decoration: none;
      }

      span {
        order: -1;
        line-height: 19pt;
      }

      i {
        color: lighten($gray, 30%);
        font-size: 28px;
        line-height: 19pt;
        order: 5;
      }
    }
  }
}


.hero-base {
  background-color: rgba(123, 216, 216, 1);
  background-image: url($baseurl + "/images/assets/hero-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 161px;
  margin: 0;
  width: 100%;

  &__info-text {
    display: flex;
    padding: 27px 42px 18px 45px;
    width: 100%;

    p {
      text-align: center;
      font-family: $openSans;
      font-size: 14px;
      font-weight: normal;
    }
  }
  &__link {
    display: flex;
    justify-content: center;

    a {
      background-color: rgba(89, 134, 184, 1);
      border-color: rgba(89, 134, 184, 1);
      color: $white;
      font-family: $openSans;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
       -webkit-box-shadow: 4px 4px 5px rgba(150, 150, 150, .3);
       -moz-box-shadow: 4px 4px 5px rgba(150, 150, 150, .3);
       box-shadow: 4px 4px 5px rgba(150, 150, 150, .5);
      &:hover {
        transform: translateX(5%) translateY(5%);
         -webkit-box-shadow: 3px 3px 7px rgba(150, 150, 150, .5);
         -moz-box-shadow: 3px 3px 7px rgba(150, 150, 150, .5);
         box-shadow: 3px 3px 7px rgba(150, 150, 150, .5);
      }
    }
  }
}

section {
  .posts {

    .carousel {
      display: flex;
      flex-direction: column;

      .carousel-indicators {
        order: 10;
        position: relative;
        bottom: 0;

        ol {
          height: 10px;
          padding: 21px;
        }
        li {
          border-radius: 50%;
          background-color: rgb(103, 102, 102);
          min-height: 10px;
          min-width: 10px;
          max-height: 10px;
          max-width: 10px;
          margin-left: 5px;
          margin-right: 5px;

          &.active {
            background-color: rgba(80, 134, 185, 1);
          }
        }
      }
      .carousel-inner {
        order: 5;
        flex-direction: column-reverse;

      }
    }
  }
}

/* Talleres */
.events-box {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 5px;
}

.item-event {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 26px;

  &__left {
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }
  &__title {
    color: $darkGray;
    display: flex;
    font-family: $openSans;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 6px;
  }
  &__time {
    color: $gray;
    display: flex;
    font-family: $openSans;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 10px;
  }
  &__subscr {
    border-color: #5086B9;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    color: #5086B9;
    display: flex;
    font-family: $openSans;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    height: 26px;
    line-height: 14px;
    padding: 5px 37.5px 7px 37.5px;
    text-align: center;
    text-transform: uppercase;
    width: 132px;

  }
  &__right {
    display: flex;

  }
  &__img {
    display: flex;

  }
}

/* END Talleres */

/* About */
.product-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 7px 18px 12px;

  &__visual {
    flex-direction: column;
    max-width: 45vw;
  }
  &__img {

  }
  &__text {
    flex-direction: column;
    max-width: 45vw;
  }
  &__title {
    color: $gray;
    height: 37px;
    width: 139px;
    font-family: $openSans;
    font-size: 22px;
    line-height: 37px;
  }
  &__type {
    color: lighten($gray, 33.3%);
    font-family: $openSans;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
  &__description {
    color: $gray;
    font-family: $openSans;
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
  }
  &--reverse {
    flex-direction: row-reverse;
  }
}

/* END About */
/* Franquicias */
.franq-category {
  border-bottom-color: darken($lightGray, 8%);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 28px;

  h2 {
    color: darken($gray, 8%);
    font-family: $openSans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }
}

@media (min-width: $medium) {
  .franq-list {
    display: flex;
    flex-direction: row;
  }
}

.franq-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  margin-left: 14px;
  margin-right: 13px;

  &__text {
    align-self: center;
    color: darken($gray, 8%);
    display: flex;
    flex-direction: column;
    font-family: $openSans;
    font-size: 15px;
    line-height: 21px;
    margin-left: 14px;
  }
  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;

  }
  &__address {
    font-weight: 300;
    line-height: 24px;
  }
  &__tel {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
  }
  &__email {

  }
  &__visual {
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  &__card {

  }
}

/* END franquicias */
