<!DOCTYPE html>
<html>
  <head>

    {% include head.html %}

  </head>

  <body>
  {% include loading-screen.html %}
    <header class="header" style="display: none">

      {% include header.html %}

    </header>

    <main class="container-fluid" style="display: none">
      {{ content }}
    </main>

    <footer class="footer" style="display: none">
      {% include footer.html %}
    </footer>

    <script src="https://cdn.jsdelivr.net/bootstrap.native/1.0.4/bootstrap-native.js"></script>
    {% include analytics.html %}
  </body>
</html>
