---
layout: default
---

<div class="aspid-caption">
  <h1>{{ page.title }}</h1>
</div>

<div class="aspid-text">
  <p>Somos la empresa que evoluciona la ciencia cosmecéutica en México desde hace más de 36 años. Cuidamos y mantenemos la piel sana y bella (tanto de hombres como de mujeres de todas las edades a través de la investigación y el desarrollo de productos cosmeceúticos.</p>
</div>

<div class="franq-category">
  <h2>Distrito Federal • Área Metropolitana</h2>
</div>

<div class="franq-item">
  <div class="franq-item__text">
    <div class="franq-item__title">AspidPro Iztapalapa</div>
    <div class="franq-item__address">Embarcadero esq. Canal de Tezontle. PA Local 7 Col. Fracción Paseos de Churubusco CP 09040, D.F.</div>
    <div class="franq-item__tel">Tels: 5600.4827</div>
    <a href="#" class="franq-item__email">tec.iztapalapa@aspidpro.com</a>
  </div>
  <div class="franq-item__visual">
    <div class="franq-item__card">
      <img src="{{ site.baseurl }}/images/assets/card-01.png" alt="card">
    </div>
  </div>
</div>

<div class="franq-item">
  <div class="franq-item__text">
    <div class="franq-item__title">AspidPro Iztapalapa</div>
    <div class="franq-item__address">Embarcadero esq. Canal de Tezontle. PA Local 7 Col. Fracción Paseos de Churubusco CP 09040, D.F.</div>
    <div class="franq-item__tel">Tels: 5600.4827</div>
    <a href="#" class="franq-item__email">tec.iztapalapa@aspidpro.com</a>
  </div>
  <div class="franq-item__visual">
    <div class="franq-item__card">
      <img src="{{ site.baseurl }}/images/assets/card-02.png" alt="card">
    </div>
  </div>
</div>
