---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <p>Somos la empresa que evoluciona la ciencia cosmecéutica en México desde hace más de 36 años. Cuidamos y mantenemos la piel sana y bella (tanto de hombres como de mujeres de todas las edades a través de la investigación y el desarrollo de productos cosmeceúticos.</p>
  <img src="" alt="pictures">

  <h1>Calendario de Eventos</h1>
  <div>
    <div class="title"> Curso de sombras y polvos</div>
    <div class="time">Sábado Abril 22, 12PM - 6PM <br>
    Sábadado April 29, 12PM - 6PM</div>
    <div class="subscr"></div>
    <img src="" alt="">
  </div>

</article>
